<!DOCTYPE html>
<html>
<head>
	<title>Signup</title>
	<style type="text/css">
		#form{
			margin-left: 450px;
			margin-top: 200px;
			font-size: 35px;
		}
	</style>
</head>
<body>
	<form action="{{url_for('signup')}}" method="POST">
		{{form.hidden_tag()}}
		{% with messages = get_flashed_messages() %}
		{% for message in messages %}
		{{message}}
		{% endfor %}
		{% endwith %}
		<div id="form">
					{{form.uname.label}}
					{{form.uname}}
					<br>
					{{form.upass.label}}
					{{form.upass}}
					<br>
					{{form.submit}}
				</div>
	</form>
</body>
</html>